<main>
    <ul>
        <%_ page.posts.forEach(post => { -%>
        <li>
            <section>
                <h1 class="home-section-h1" >
                    <a href="<%- url_for(post.path) %>"><%= post.title || 'undefined' %></a>
                </h1>
                <%_ if (post.excerpt || post.content) { -%>
                <p class="home-section-p"><%= truncate(strip_html(post.excerpt || post.content),{length: 128}) %></p>
                <%_ } -%>
                <div class="home-section-div" >
                    <span class="iconfont icon-shijian"></span>
                    <time datetime="<%- date(post.date,'YYYY-MM-DD LTS') %>"><%- date(post.date,'YYYY-MM-DD') %></time>
                    <%_ if (String(Object.keys(post.categories.data))) { -%>
                    <span class="iconfont icon-fenlei1"></span>
                    <span>
                        <%_ post.categories.each(function(category) { -%>
                        <a href="<%- url_for(category.path) %>"><%= category.name %></a>
                        <%_ }) -%>
                    </span>
                    <%_ } -%>
                    <%_ if (String(Object.keys(post.tags.data))) { -%>
                    <span class="iconfont icon-biaoqian"></span>
                    <%_ } -%>
                    <%_ if (String(Object.keys(post.tags.data))) { -%>
                    <span>
                        <%_ post.tags.each(function(tag) { -%>
                        <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                        <%_ }) -%>
                    </span>
                    <%_ } -%>
                    <a class="home-section-a" href="<%- url_for(post.path) %>"><%- __('Read_more') %></a>
                </div>
            </section>
        </li>
        <%_ }) -%>
    </ul>
    <%_ if (page.total > 1) { -%>
    <div>
        <%- paginator({prev_text: __('Prev'),next_text: __('Next')}) %>
    </div>
    <%_ } -%>
</main>


