<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- include('page/head.ejs') -%>
<body>
<header>
<%- include('page/header.ejs') -%>
</header>
<%- body -%>
<footer>
<%- include('page/footer.ejs') -%>
</footer>
</body>
</html>
